<div>
    <div>
        <h2 style="padding: 30px 0 30px 30px">
            Bienvenido por favor registrese
        </h2>

        <div style="padding: 30px 0 30px 30px">
            <button onclick="location.href='/api/auth/login'">Log In</button>
            <button onclick="location.href='/api/auth/signup'">Sign up</button>
        </div>

    </div>
    <div style="padding: 30px 0 30px 30px">
        <button onclick="location.href='/api/info'">DESAFIO INFO</button>
    </div>
    <div style="padding: 30px 0 30px 30px">
        <button onclick="location.href='/api/randoms'">DESAFIO RANDOMS</button>
    </div>
</div>