<div>
    <div class="alert alert-warning" role="alert">
        <h1>Te desconectaste {{email}}, te esperamos la próxima!</h1>
    </div>
    <button onclick="location.href='/api/auth/'">VOLVER AL INICIO</button>
</div>