PORT=8080
SELECTED_DB=mongo

MONGO_DB_URL=mongodb+srv://user:password@cluster0.xczooxl.mongodb.net/test
MONGO_DB_NAME=Backend_32140

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CLIENT_CALLBACK_URL=http://localhost:8080/api/auth/github


